/* general */


/* .content-align-center{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%; 
} */
/*grid*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
    gap: 5px;
    overflow: hidden;

}


/* header */
header {
    display: grid;
    grid-area: header;
    border-bottom: 2px solid rgba(210, 210, 210, 0.941);
    margin: 3px;
    align-items: center;
    justify-items: center;
   
}

header a {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    border: none;
    background-color: white;
    color: #2c88d9;


}

.logo {
    grid-column: 4/7;
    width: 15vw;


}

#menuburger {

    display: none;
}

.lblmenu {
    align-content: center;
}

.burger {
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
}

.close {
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
}



nav {
    grid-column: 2/10;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1%;
    border-radius: 5rem;
    text-align: center;
    border: none;

}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #2c88d9;
    color: white;
}

/* main */

.cards {
    grid-column: auto;
    display: flex;
}

main {
    grid-area: main;
    border-bottom: 2px solid rgba(210, 210, 210, 0.941);
    margin: 3px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
}


.texto-empresa,
.imagen-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 50px;

}


.imagen-empresa img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}



.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.whatsapp-button img {
    width: 50%;
    height: 50%;
}


.whatsapp-button:hover {
    background-color: darkgreen;
}



main h1,
main h2,
.texto-empresa {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0;
    color: darkslategrey;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 2.5vw;
    text-align: center;

}

h2 {
    font-size: 1.5vw;
    padding-bottom: 1%;
    text-align: center;


}

.content-imagen {
    border-top: 2px solid rgba(210, 210, 210, 0.941);
    padding-top: 2px;

}

.imgcentral {
    width: 100%;
}

.content-volver {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    width: 100%;
}

.volver-inicio {
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
    text-align: center;
}

/* footer */
footer {
    grid-area: footer;
    display: grid;
    background-color: #f1f1f1;
    grid-template-rows: auto;
    gap: 15px;
}


.seguinos,
.ubicacion,
.panel-consultas {
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 30px;

    color: darkslategrey;

}

.seguinos h6,
.ubicacion h6,
.panel-consultas h6 {
    font-size: 1.5vw;
}

.copyright {
    text-transform: uppercase;
}

.panel-izquierdo {
    grid-row: 2/4;
    grid-column: 3/7;
    text-align: center;
    align-items: center;
    border-right: 3px solid rgba(210, 210, 210, 0.941);


}

.ubicacion iframe {
    width: 250px;
    height: 150px;
}

.logos-redes,
.ubicacion iframe {
    padding: 5%;
}

.panel-consultas {
    grid-column: 9/12;
    grid-row: 2/5;

}

.panel-consultas h6 {
    width: 60%;
    text-align: center;
}

.contenedor-texto {
    display: flex;
    gap: 5px;

}


.textboxes-demas input,
.textbox-mensaje textarea {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-transform: uppercase;
    font-size: 10px;
}

.textboxes-demas input {
    width: 100%;
    height: 75%;
}

.textboxes-demas {
    display: grid;
    width: 170px;
    height: 100%;
}

textarea {
    margin-top: 14px;
    height: 124px;
    width: 30vw;
    resize: none;
}


@media screen and (max-width:768px) {
    .grid-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 23vh auto 40vh;
        grid-template-areas:
            "header"
            "main"
            "footer";

    }

    .panel-consultas {
        display: none;
    }


    .burger {
        display: block;
    }

    nav ul {
        display: grid;
        position: absolute;
        left: 0;
        height: 0;
        overflow: hidden;
        transition: .3s ease;       
        right: 10px;
        top: 20px;
    }

    nav ul li a {
        padding: 10px 70px;
       
    }

    #menuburger:checked~.lblmenu .burger {
        display: none;
    }

    #menuburger:checked~.lblmenu .close {
        display: block;
       
    }

    #menuburger:checked~nav ul {
        background-color: rgb(163, 163, 163);
        height: 10rem;
        width: 10rem;
        margin-top: 10%;
        margin-left: 50%;
    }

    .logo {
        width: 100px;
    }

    header {
        width: 100%;
        justify-content: center;
        align-items: center;
    }




    .imgcentral {
        gap: 2px;
        width: 140vw;
        justify-content: center;
    }

    .panel-izquierdo {
        grid-column: auto;
        grid-row: auto;
        border-right: none;
        height: 100%;

    }

    main h2 {

        font-size: 13px;
    }

    main h1,
    .seguinos h6,
    .ubicacion h6,
    .panel-consultas h6 {
        font-size: 18px;
    }

    .whatsapp-button {

        width: 40px;
        height: 40px;
    }

}