main {


    .section-contacto {
        @extend %sections-autofit;


        .texto-contacto {
            @extend %letras-notosans-normal;
            @include flex(column,center);
            
            
            height: 100%;
            width: 100%;
            padding: 50px;
            margin: 0;
            color: $color-titulos;
         
        }

        .mapa-contacto {
            @include flex(column,center);
            align-items: center;            
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 10px;

           
        }
    }
}