main {


    .section-empresa {
        @extend %sections-autofit;


        .texto-empresa {
            @extend %letras-notosans-normal;
            @include flex(column,center);
            
            align-items: center;
            
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 50px;

           
            margin: 0;
            color: $color-titulos;
            align-items: center;
            justify-content: center;
        }

        .imagen-empresa {
            @include flex(column,center);
            align-items: center;            
            text-align: center;
            height: 100%;
            width: 100%;
            padding: 50px;

            img {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}