main {


    .section-colores {
        .content-volver {
            @include flex(inherit,center);
            margin: 5% 0;
            width: 100%;

            .volver-inicio {
                @extend %letras-notosans-normal;
                text-decoration: none;
                padding: 10px 20px;
                background-color: blue;
                color: white;
                border-radius: 5px;
            
                font-size: 16px;
                text-align: center;
            }
        }


    }
}