.section-empresa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;


    .texto-empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 50px;

        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        margin: 0;
        color: darkslategrey;
        align-items: center;
        justify-content: center;
    }

    .imagen-empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 50px;

        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}