header {
    display: grid;
    grid-area: header;
    border-bottom: 2px solid rgba(210, 210, 210, 0.941);
    margin: 3px;
    align-items: center;
    justify-items: center;

    .logo {
        grid-column: 4/7;
        width: 15vw;


    }

    a {
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 79,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
        border: none;
        background-color: white;
        color: #2c88d9;



    }

    #menuburger {
        display: none;
    }

    .lblmenu {
        align-content: center;
    }

    .burger {
        font-size: 2.8rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .close {
        font-size: 2.8rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 20px;
    }



    nav {
        grid-column: 2/10;
        width: 100%;
        padding-bottom: 10px;
        padding-right: 100px;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                margin: 1%;
                border-radius: 5rem;
                text-align: center;
                border: none;

                a {
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #2c88d9;
                        color: white;
                    }
                }

            }
        }
    }
}