header {

    .link-logo {
        grid-column: 4/7;
        .logo {
           
            width: 15vw;
            @include escala-hover(1.1, 0.5s);


        }
    }

    a {
        @extend %letras-robotoflex;
        border: none;
        background-color: white;
        color: $color-nav-a;



    }

    #menuburger {
        display: none;
    }

    .lblmenu {
        align-content: center;
    }

    .burger {
        font-size: 2.8rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .close {
        font-size: 2.8rem;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 10px;
        top: 20px;
    }



    nav {
        grid-column: 2/10;
        width: 100%;
        padding-bottom: 10px;
        padding-right: 100px;

        ul {
            list-style: none;
            @include flex(inherit, center);

            li {
                margin: 1%;
                border-radius: 5rem;
                text-align: center;
                border: none;

                a {
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 3px;

                    &:hover {
                        background-color: $color-nav-a;
                        color: white;
                    }
                }

            }
        }
    }
}